  
</main>
<footer class="page-footer light-green lighten-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="red-text">Survey Poll App</h5>
        <p class="black-text">Create own Survey and Analyse the Report</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="green-text text-darken-4">Links</h5>
        <ul class="footer-links">
            <li><a class="black-text text-lighten-3" href="/">Home</a></li>
            <li><a class="black-text text-lighten-3" href="/survey/public">Public Surveys</a></li>
            <li><a class="black-text text-lighten-3" target="_blank" href="https://github.com/nil1729/poll-app">Source Code</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center grey-text text-darken-3">
      © <span id="year"></span>  Survey Poll App
    </div>
  </div>
</footer>
<script>
    M.AutoInit();
</script>
<% if(error != '') { %>
  <script>
    M.toast({html: '<%= error %>'});
  </script>
<% } %> 
<% if(success != '') { %>
  <script>
    M.toast({html: '<%= success %>'});
  </script>
<% } %>
