<%- include ('../partials/_header')  %>
    <div class="container home" style="width: 90vw;">
        <h1 class="center">Survey Poll App</h1>
    </div>
<%- include ('../partials/_script.ejs')  %> 
<%- include ('../partials/_footer')  %> 
