<%- include ('../partials/_header')  %>
    <div class="container home" style="width: 80vw;">
        <h1 class="center">Survey Poll App</h1>
        <div class="row z-depth-1">
            <div class="col s12 m6">
                <h3>Create your own Survey</h3>
            </div>
            <div class="col s12 m6">
                <img src="/images/1.jpg" alt="" class="responsive-img">
            </div>
        </div>
        <div class="row z-depth-1" style="flex-direction: row-reverse;">
            <div class="col s12 m6">
                <h3>Analyse the Survey Report</h3>
            </div>
            <div class="col s12 m6">
                <img src="/images/2.png" alt="" class="responsive-img">
            </div>
        </div>
        <div class="row z-depth-1">
            <div class="col s12 m6">
                <h3>Authentication for Privacy</h3>
            </div>
            <div class="col s12 m6">
                <img src="/images/3.png" alt="" class="responsive-img">
            </div>
        </div>
        <div class="row z-depth-1" style="flex-direction: row-reverse;">
            <div class="col s12 m6">
                <h3>Create Response to Public Surveys</h3>
            </div>
            <div class="col s12 m6">
                <img src="/images/4.png" alt="" class="responsive-img">
            </div>
        </div>
        <div class="row z-depth-1">
            <div class="col s12 m6">
                <h3>Create an Account now</h3>
            </div>
            <div class="col s12 m6">
                <img src="/images/5.png" alt="" class="responsive-img">
            </div>
        </div>
    </div>
<%- include ('../partials/_script.ejs')  %> 
<%- include ('../partials/_footer')  %> 
